---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import Anmeldelse from "../components/Anmeldelse.astro";
import Karrusel from "../components/Karrusel.astro";
import polarid_sektion1_web from "../assets/images/polarid_sektion1_web.png";
import polarid_sektion2_web from "../assets/images/polarid_sektion2_web.png";
import polarid_sektion1_mobil from "../assets/images/polarid_sektion1_mobil.png";
import polarid_sektion2_mobil from "../assets/images/polarid_sektion2_mobil.png";
import surfholdet from "../assets/images/surfholdet.png";
import Accordion from "../components/Accordion.astro";
import Form from "../components/Form.astro";
import pin from "../assets/images/pin.svg";
---

<MainLayout title="höjskolendk">
  <article class="relative grid">
    <div class="absolute flex justify-center items-center z-40 top-1/3 w-full">
      <h1 class="">HÖJSKOLENDK</h1>
    </div>
    <div class="flex flex-row justify-center items-center z-0">
      <video src="/hojskolendk_hero.mp4" class="rounded-lg shadow-lg w-full" autoplay muted loop></video>
      <video src="/hojskolendk_hero.mp4" class="rounded-lg shadow-lg w-full" autoplay muted loop></video>
      <video src="/hojskolendk_hero.mp4" class="rounded-lg shadow-lg w-full" autoplay muted loop></video>
    </div>
  </article>

  <!-- Dit livs eventyr -->
  <section class="pt-xl md:pt-4xl flex flex-col items-center">
    <h2>Dit livs eventyr</h2>
    <p class="w-[296px] md:w-[826px] py-sm">HÖJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år. Vi brænder for oplevelser, fællesskab og mødet med nye mennesker og kulturer; derfor laver vi eventyrlige højskoleophold i udlandet. HÖJSKOLENDK er noget for dig, hvis du vil på højskole i udlandet og er vild med højskolefællesskab, vil med på et fantastisk rejseeventyr, glæder dig til at lære om fremmede kulturer, vil rejse med rygsæk, drømmer om en fed grupperejse med andre skønne unge, vil opleve et stærkt sammenhold og ønsker inspirerende og meningsfuld undervisning. Du er sikker på en tryg rejseoplevelse da vi er medlem af Rejsegarantifonden. Vi glæder os til at lære dig at kende!</p>
  </section>

  <!-- Cards sektion -->
  <div class="flex flex-col items-center py-m">
    <h3 class="text-colors-orange-500">eventyrlige ophold</h3>
  </div>
  <section class="grid md:grid-cols-3 gap-m mx-lg pb-lg">
    <Card cardimage="/IMG_8086.jpg" varighed=" 3 måneder" destination="Caribien, Hawaii & Mexico" afrejse=" 20. oktober 2024" pris=" 67.900 kr." />
    <Card cardimage="/IMG_8087.jpg" varighed=" 3 måneder" destination="Australien, NZ, Bali, Gili Islands" afrejse=" 9. januar 2025" pris=" 58.900 kr." />
    <Card cardimage="/IMG_8088.jpg" varighed=" 3 måneder" destination="Costa Rica, Mexico & Columbia" afrejse=" 9. januar 2025" pris=" 58.900 kr." />
  </section>
  <div class="flex flex-col items-center pb-2xl md:pb-6xl">
    <Button variant="primary" size="small">Se alle ophold</Button>
  </div>

  <!-- Højskoleophold i udlandet -->
  <section class="flex flex-col items-center px-lg pb-2xl md:pb-6xl">
    <h2>Højskoleophold i udlandet</h2>
    <p class="w-[296px] md:w-[826px] py-sm">Tag på højskole i udlandet med HÖJSKOLENDK og oplev en unik rejse, der kombinerer fællesskab, dannelse og eventyr. Brug dit sabbatår på frivilligt arbejde, vilde naturoplevelser, sprogindlæring og personlig udvikling, der styrker din selvtillid og selvindsigt. Inspirerende undervisning forener læring og leg og hjælper dig med at udforske dine drømme og mål for fremtiden. Vores elever beskriver opholdet som "eventyrlige dannelsesrejser med noget på hjerte." Med passionerede danske undervisere, trygge rammer og en stærk gruppe oplever du vilde kulturer, adventure og en rejse, der gør dig stærkere som menneske. Find dit livs eventyr med HÖJSKOLENDK - vi glæder os til at byde dig velkommen!</p>
    <Image src={polarid_sektion1_web} alt="logo" class="hidden md:block w-full" />
    <Image src={polarid_sektion1_mobil} alt="logo" class="md:hidden" />
  </section>

  <!-- Anmeldelser sektion -->
  <section class="px-lg pb-2xl md:pb-6xl">
    <div class="flex flex-col items-center pb-m">
      <h2>Det siger tidligere elever</h2>
    </div>
    <div class="grid md:grid-cols-2 gap-m py-m">
      <Anmeldelse citat="På mit højskoleophold blev jeg mødt af uforglemmelige oplevelser, spændende undervisning og nye venskaber." elevimage="/emma2.png" elevimagealt="billede af Emma" elevnavn="Emma" />
      <Anmeldelse citat="De mest imødekommende og omsorgsfulde lære / undervisere / rejseledere, man kunne ønske sig." elevimage="/william.png" elevimagealt="billede af William" elevnavn="William" />
    </div>
    <div class="grid md:grid-cols-3 gap-m">
      <Anmeldelse citat="Det, der gjorde rejsen helt speciel var den fantastiske højskolestemning, som var der hele turen igennem." elevimage="/mikkel.png" elevimagealt="billede af mikkel" elevnavn="Mikkel" />
      <Anmeldelse citat="HöjskolenDK har givet mig så meget mere end blot en rejse; de har givet mig livslange venskaber og en dybere forståelse for verden." elevimage="/kamilla.png" elevimagealt="billede af Kamilla" elevnavn="Kamilla" />
      <Anmeldelse citat="Man har altid sine rejseledere at læne sig op ad, hvilket er skønt når man ikke har særlig meget erfaring med verden uden for Danmark." elevimage="/signe.png" elevimagealt="billede af Signe" elevnavn="Signe" />
    </div>
  </section>

  <!-- Infomøde sektion -->
  <h2 id="infomoede" class="flex flex-col items-center pb-ml">Infomøder</h2>
  <section class="px-lg md:grid grid-cols-2 gap-m pb-2xl md:pb-6xl">
    <article class="md:w-[663px]">
      <p class="md:leading-[2.5rem]">
        Mangler du det sidste skub til at tage på et af vores højskoleophold, så tilmeld dig et af vores hyggelige infomøder. Her får du svar på alle dine spørgsmål, og du har mulighed for at snakke med tidligere elever og rejseledere i vores 'Rejsefeber Café'.
        <br />Vi fortæller blandt andet om:
      </p>
      <ul class="list-disc md:px-m pt-m md:leading-[2.5rem]">
        <li>Hvem er vi?</li>
        <li>Alle de fede oplevelser der venter</li>
        <li>En ”almindelig” dag på højskole i udlandet</li>
        <li>Den levende og aktive måde vi underviser på (glem kedelige klasseværelser)</li>
        <li>Økonomi, lommepenge, pakkeliste, friuger, afrejsemødet, etc.</li>
      </ul>
      <section class="flex flex-col md:flex-row md:gap-2xl pb-lg pt-m">
        <ul class="pt-m md:leading-[2.5rem]">
          <li class="flex"><Image src={pin} alt="logo" class="md:block w-[24px]" /><h4>København</h4></li>
          <li>Studenterhuset</li>
          <li>Købmagergade 52</li>
          <li>1150 København K</li>
        </ul>
        <ul class="pt-m md:leading-[2.5rem]">
          <li class="flex"><Image src={pin} alt="logo" class="md:block w-[24px]" /><h4>Aarhus</h4></li>
          <li>LYNfabrikken</li>
          <li>Vestergade 49B</li>
          <li>8000 Aarhus</li>
        </ul>
        <ul class="pt-m md:leading-[2.5rem]">
          <li class="flex"><Image src={pin} alt="logo" class="md:block w-[24px]" /><h4>Online</h4></li>
          <li>Bor du langt fra</li>
          <li>storbyerne, kan du</li>
          <li>deltage online</li>
        </ul>
      </section>
      <h4>Vi glæder os til at se dig!</h4>
    </article>
    <article>
      <Form />
    </article>
  </section>

  <!-- Vælg dit eventyr -->
  <section class="md:grid grid-cols-2 md:pb-3xl">
    <article class="mx-auto pb-m">
      <Image src={surfholdet} alt="logo" class="w-[510px]" />
    </article>
    <article class="md:my-auto flex flex-col items-center">
      <h2>Vælg dit eventyr</h2>
      <p class="w-[296px] md:w-[620px] pb-m">Hvis du er afklaret og klar på højskoleeventyr, er det bare med at tilmelde dig. Der bliver nemlig udsolgt på langt de fleste af vores ophold.</p>
      <Button variant="primary" size="large">Tilmeld ophold</Button>
    </article>
  </section>

  <!-- En ny rejsehøjskole fyldt med oplevelser -->
  <section class="flex flex-col items-center py-lg">
    <h3 class="py-m">En ny rejsehøjskole fyldt med oplevelser</h3>
    <p class="w-[296px] md:w-[826px]">Vil du gerne på højskole i udlandet, tilbyder vi de mest attraktive højskoleophold i udlandet, hvor du besøger flere skønne og spændende lande og deltage i spændende og inspirerende undervisning og alverdens fede aktiviteter. Din højskolerejse kan blandt andet indeholde:</p>
  </section>

  <!-- Accordions -->
  <section class="grid md:grid-cols-2 px-lg gap-sm">
    <Accordion summary="Teambuilding" content="Hvorfor tage på et kedeligt kursus i Danmark, når du kan rejse ud i verden og udvikle dig samtidig? Du rejser sammen med andre unge voksne og lærer en masse om samarbejde, relationer, fællesskab, konflikter, styrker og stærke teams. Du får ikke blot rejse-erfaring på cv'et, men også et væld af brugbare redskaber til studie eller karriere. " />
    <Accordion summary="Frivilligt arbejde & Kulturforståelse" content="Drømmer du om at lave frivilligt arbejde og gøre en forskel i et andet land? Mange af vores højskole rejser inkluderer frivilligt arbejde, hvor vi kommer helt tæt på de lokale. Det giver dig en unik indsigt i landet, større forståelse for kulturen og måden man lever på i de forskellige lande." />
    <Accordion summary="Friuger - et væld af muligheder" content="Efter spændende og lærerige undervisningsforløb, har vi – alt efter hvilken højskole rejse du vælger – lagt én eller flere friuger ind. Her har I mulighed for selv at tage styringen og udforske dét land, kontinent eller ø-rige vi befinder os i. Friugerne bliver brugt på forskellig vis og oftest deler holdet sig op i lidt mindre grupper for at tage på eventyr – andre gange rejser hele holdet sammen på en fed friuge " />
    <Accordion summary="Spændende kulturoplevelser" content="Kulturen er vigtig at opleve, når man befinder sig i et nyt land. Det giver dig både nogle rigtigt spændende oplevelser og menneske-møder, men også en unik indsigt, du ikke kan læse dig til i en bog eller se i et rejseprogram. På vores højskole ture kan du opleve alt fra ældgamle Hindu-templer i Indien, surf-kulturen på Hawaii, Mayaindianerne i Guatemala, de gamle inkaruiner i Mexico, buddhisme i Thailand, te-plantager i Sri Lanka og kakao- farme i Costa Rica." />
  </section>
  <section class="flex flex-col items-center pb-lg px-lg pt-sm md:pb-3xl">
    <Accordion summary="vilde naturoplevelser" content="Ingen rejse ud i verden uden eventyrlige og vilde naturoplevelser. Mange af de destinationer, hvor vi tager på højskoleophold, byder på enestående og overdådig natur. Det kan være alt fra snorkleture i Caribien, river rafting i Thailand, spotte brøleaber i Costa Ricas regnskove, gå på opdagelse i Inka-ruinerne i Mexico, trekke i Himalayas bjerge i Nepal, sejle kajak i marine nationalparker, dykke med manta rays på Hawaii, vandre i New Zealands fabelagtige nationalparker eller tage på safari i Sri Lanka og se leoparder, elefanter og bjørne. Alle vores rejser er fyldt med storslåede oplevelser, som du aldrig vil glemme." />
  </section>

  <!-- Billed sektion -->
  <section class="flex flex-col items-center pb-lg md:pb-6xl">
    <Image src={polarid_sektion2_web} alt="logo" class="hidden md:block w-[1296px]" />
    <Image src={polarid_sektion2_mobil} alt="logo" class="md:hidden" />
  </section>
</MainLayout>
